---
- name: google cloud repo key
  # For both cloud-sdk and kubernetes
  apt_key:
          url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
          state: present

- name: google cloud sdk repo
  apt_repository:
          repo: deb http://packages.cloud.google.com/apt cloud-sdk-xenial main
          state: present

- name: kubernetes repo
  apt_repository:
          repo: deb http://apt.kubernetes.io/ kubernetes-xenial main
          state: present

- name: install google cloud, k8s tools
  apt: name={{item}} state=installed
  with_items:
          - google-cloud-sdk
          - kubectl
# TODO (tag with "completion") symlink /usr/share/google-cloud-sdk /home/matt/.completion.d/gcloud
# TODO (tag with "completion") run kubectl completion > /home/matt/.completion.d/kubectl

- name: download istioctl
  unarchive:
    creates: /tmp/istio-{{istio_version}}/
    src: https://github.com/istio/istio/releases/download/{{istio_version}}/istio-{{istio_version}}-linux.tar.gz 
    dest: /tmp/
    remote_src: true
- name: install istioctl
  copy:
    remote_src: true
    src: /tmp/istio-{{istio_version}}/bin/istioctl
    dest: /usr/local/bin/
    mode: 0755
- name: install minikube
  get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    dest: /usr/local/bin/minikube
    mode: 0775
- name: install minikube kvm2 driver
  get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/docker-machine-driver-kvm2
    dest: /usr/local/bin/docker-machine-driver-kvm2
    mode: 0775
