---
# Only system-level stuff. E.g. golang compilation should be done in a container
- name: install basics
  apt: name={{item}} state=installed
  with_items:
          - apt-transport-https
          - ca-certificates
          - software-properties-common
          - debconf-utils
- name: install filesystems
  apt: name={{item}} state=installed
  with_items:
          - exfat-fuse
- name: install networking utils
  apt: name={{item}} state=installed
  with_items:
          - ebtables
          - ethtool
- name: install system mgmt packages
  apt: name={{item}} state=installed
  with_items:
          - d-feet #dbus viewer
- name: install useful cli
  apt: name={{item}} state=installed
  with_items:
          - git
          - vim
          - tmux
          #- curl depends on libcurl4
          - jq
          - httpie
          - bash-completion
          - pwgen
          - openvpn
- name: install hardware pkgs
  apt: name={{item}} state=installed
  with_items:
          - lsscsi
          - lm-sensors
          - dstat
          - powertop
          - cpufrequtils
          - laptop-mode-tools
          - acpi
          - acpi-call-dkms
          - acpitail
          - numactl
          - pv
- name: install dev pkgs
  apt: name={{item}} state=installed
  with_items:
          - build-essential
- name: install virt pkgs
  apt: name={{item}} state=installed
  with_items:
          - qemu-kvm
          - qemu-system-arm
          - qemu-user-static
          #- qemu-user-binfmt # seems to rely on qemu-user (non-static), and try to replace -static with that
          - libvirt-bin
          - bridge-utils
- name: add {{ admin_user }} to libvirt group
  user:
          name: "{{ admin_user }}"
          groups: [libvirt, libvirt-qemu, kvm]
          append: yes
- name: install graphics packages
  apt: name={{item}} state=installed
  with_items:
          - inkscape
          - imagemagick
          - gimp
- name: install github cmdline
  unarchive:
    creates: /usr/local/bin/hub
    src: https://github.com/github/hub/releases/download/v2.3.0-pre10/hub-linux-amd64-2.3.0-pre10.tgz
    dest: /usr/local/
    remote_src: true
    extra_opts: ["--strip=1"]
- name: github cli completion
  file:
    src: /usr/local/etc/hub.bash_completion.sh
    dest: /home/matt/.completion.d/hub
    state: link
    owner: matt
    group: matt
- name: install pomodoro
  apt: name={{item}} state=installed
  with_items:
          - ruby
          - ruby-dev
- name: install pomodoro
  gem: name={{item}} state=present
  with_items:
          - libnotify
          - pomo
