---
# Only system-level stuff. E.g. golang compilation should be done in a container
- name: install basics
  apt: name={{item}} state=installed
  with_items:
          - apt-transport-https
          - ca-certificates
          - software-properties-common
          - debconf-utils
- name: install filesystems
  apt: name={{item}} state=installed
  with_items:
          - exfat-fuse
- name: install networking utils
  apt: name={{item}} state=installed
  with_items:
          - ebtables
          - ethtool
- name: install useful cli
  apt: name={{item}} state=installed
  with_items:
          - git
          - vim
          - tmux
          - jq
          - bash-completion
- name: install hardware pkgs
  apt: name={{item}} state=installed
  with_items:
          - lsscsi
          - lm-sensors
          - dstat
- name: install dev pkgs
  apt: name={{item}} state=installed
  with_items:
          - build-essential
- name: install virt pkgs
  apt: name={{item}} state=installed
  with_items:
          - qemu-kvm
          - libvirt-bin
          - bridge-utils
- name: install github cmdline
  unarchive:
    src: https://github.com/github/hub/releases/download/v2.3.0-pre10/hub-linux-amd64-2.3.0-pre10.tgz
    dest: /usr/local/
    remote_src: true
    extra_opts: ["--strip=1"]
- name: github cli completion
  file:
    src: /usr/local/etc/hub.bash_completion.sh
    dest: /home/matt/.completion.d/hub
    state: link
    owner: matt
    group: matt
