---
- name: download and install vault binary
  unarchive:
    creates: /usr/local/bin/vault
    src: https://releases.hashicorp.com/vault/0.9.1/vault_0.9.1_linux_amd64.zip
    dest: /usr/local/bin/
    remote_src: true
