---
- name: configure wireshark as setuid
  debconf:
          name: wireshark-common
          question: wireshark-common/install-setuid
          vtype: boolean
          value: true
- name: install network sniffers
  apt: name={{item}} state=installed
  with_items:
          - wireshark
          - ettercap-text-only
          - nmap
          - traceroute
          - socat
          - iperf3
          - httping
          - ipcalc
